@font-face { font-family: 'Digital-7'; src: url('digital-7.ttf'); }
body{
    background-color: rgba(0,0,0,0.3);
}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width:400px;
    min-height: 90vh;  
    flex-basis: 90vhx;
    background-color: #00000099;
    border-radius: 10px;
    border:5px solid black;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.3);
}

.header{
    text-align: right;
    height:90px;
    background-color: #0D1319;
    border-radius: 5px;
    width:365px;
    margin-left: 10px;
    margin-top: 9px;
    box-shadow: inset 4px 3px 1px #474749;
    margin-bottom: 10px;
}
#header-text{
    color: #C6DAF2;
    text-shadow: 0 0 10px #C6DAF2;
    font-family:Digital-7;
    margin-top: 5px;
    padding: 10px;
    font-size:60px;
}
.row{
    height: 100px;
    display: flex;
}
.body{
    width: 400px;
}
.btn{
    width: 50px;
    height: 50px;
    border: 2px solid #1B1B1E;
    margin: 10px;
    padding: 11px;
    background-color: #36363E;
    border-radius:10px;
    position: relative;
    box-shadow: 
		0px 4px 2px #25242A, 
		inset 0px 0px 2px #25242A;
}
.btn:active{
    top:2px;
    box-shadow: 
    0px 2px 2px #25242A, 
    inset 0px 0px 2px #25242A;
}
.btn-lg{
    width:150px;
    height: 50px;
    padding: 10px;
    margin: 7px;
}
.btn-extended{
    width: 50px;
    height: 150px;
    margin: 14px;
    padding: 11px;
}
.lowerpart{
    display: flex;
}
.rightmost{
    margin-left:12px;
}
#dot{
    margin-top: 7px;
    margin-left: 15px;
}
.red-btn{
    background-color: #B22F1D;
}
.red-btn p{
    font-size: 35px;
}
.text{
    color:white;
    font-size:40px;
    margin: 0;
    position: relative;
}
.shift-left-sm{
    left: -3px;
    top:5px;
}

/* different relative position rp- relative position*/
.number{
    left: 12px;
}
.minus-rp{
    left: 12px;
    top:-18px;
}
.dot-rp{
    left: 15px;
    top:-10px;
}
.equal-rp{
    left:12px;
    top:50px;
}
.zero-rp{
    left: 60px;
}